.App {
  text-align: center;
}

.App-header {
  background-color: rgb(218, 216, 216);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(248, 249, 250);
}

.navbar {
  border-bottom: 1px solid white;
  padding: 10px 25px;
}

.h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 3%;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 25px;
}

.nav-link {
  text-decoration: none;
  margin: auto 10px;
}

.start-page {
  display: flex;
  padding: 14% 5%;
  line-height: 1.5;
  text-indent: 2.5em;
  text-align: justify;
}

.display {
  width: 700px;
  text-align: right;
  background-color: #858693;
  font-size: 2.7rem;
  box-sizing: border-box;
  padding: 1.5rem;
  color: white;
  height: 100px;
  font-weight: bold;
}

.btn-row {
  display: flex;
  width: 700px;
  height: 100px;
}

.button {
  width: 25%;
  font-size: 1.5rem;
  box-sizing: border-box;
  height: 100%;
  color: #000;
  border: 0.1rem solid #bababa;
}

.grey {
  background-color: #e0e0e0;
}

.orange {
  background-color: #f39148;
}

.big {
  width: 50%;
}

.quote-page {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 17% 5%;
  font-size: 1.2rem;
  text-align: center;
}
